
body {
    background-color: #f9bfc9;
    color:aliceblue;
    font-family:"Gill Sans",sans-serif;
}

.first-segment {
    background-color: rgba(186, 91, 121, 0.6);
    margin:30px;
    border-radius:25px;
    box-shadow: 0 0 2em rgb(208, 148, 208);
}

.head-container {
    display:flex;
    justify-content: space-between;
    align-content:center;
    padding:10px 70px;
    margin-bottom:50px;
}


.links {
    display:flex;
    gap:30px;
    align-items:center;
    font-size:25px;
    font-weight: 700;
}



img {
    width:15%;
    height:auto;
    border:4px solid rgb(208, 148, 208);
    border-radius:5px;
}

.second-part{
    display:flex;
    text-align: center;
    justify-content:center;
    align-content:center;
    padding:30px;
    gap:200px;
    
}

.text{
    display:flex;
    flex-direction:column;
    max-width:500px;
    justify-content:center;
    font-size:25px;
}

p {
    display:flex;
    flex-wrap:wrap;
}
